<link rel="stylesheet" href="/css/login.css">
<div class="container">
    <form action="/action_page.php">
      <div class="row">
        <h2 style="text-align:center">Login </h2>
      
  
        
  </form>
        <div class="col">
          
  <form action="/create-session" method="GET">
          <input type="email" name="email" placeholder="Enter Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="submit" value="Login">
        </div>
  
      </div>
    </form>
  </div>
  
  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a href="/sign-up" style="color:white" class="btn">Sign up</a>
      </div>
      
    </div>
  </div>